#Home {
  width: 100%;
  height: 660px;
  background-image: url(../imagess/events-heavenly-header.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  color: white;
  position: relative;
}
.HomeOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(214, 46, 51 , 0.6);
}
#leftMenu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav {
  background-color: #414658;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.sidenav a {
  padding: 20px 8px 20px 32px;
  text-decoration: none;
  font-size: 25px;
  
  display: block;
  transition: 0.3s;
  color: white;
}

#home-content {
  transition: margin-left .5s;
  padding: 16px;
}
#home-content h2 {
  font-size: 60px;
}
#Home h2 {
  text-align: center;
}
#Home h2 {
  margin-top: 200px;
}
p {
  text-align: center;
  margin-top: 0;
  margin-bottom: 1rem;
}


#sliderDown {
  margin: 100px auto;
  width: 50%;
}
.text-center {
  text-align: center !important;
}
#sliderDown h3 {
  padding: 10px;
  margin: 0;
  background-color: rgba(214, 46, 51 , 0.6);
  cursor: pointer;
  color: white;
}
h3 {
  font-size: 1.75rem;
}
#sliderDown .first {
  display: block;
}
#sliderDown div {
  padding: 10px;
  background-color: #ccc;
}

#count {
  background-image: url(../imagess/invitation-2508607__340.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  position: relative;
  height: 330px;
}
.count-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(214, 46, 51, 0.6);
  color: white;
}
.container {
  padding: 100px 0px;
}
.tim {
  padding: 50px;
  border: 1px solid rgb(255, 255, 255);
  font-weight: 500;
  font-size: 30px;
}
#contact-us {
  margin-top: 100px;
}
.container {
  padding: 100px 0px;
}
#contact-us .head h2 {
  text-transform: uppercase;
  font-size: 35px;
  color: rgb(68, 68, 68);
  font-weight: bold;
  margin-bottom: 20px;
}
#contact-us .head p {
  color: #777;
  font-weight: 300;
  font-size: 16px;
}
 p {
  text-align: center;
  margin-top: 0;
  margin-bottom: 1rem;
}
#contact-us .con-info h3 {
  color: #444;
  font-size: 18px;
  font-weight: bold;
}
#contact-us .con-info p {
  font-size: 16px;
  line-height: 26px;
  color: #777;
}
#contact-us .icons {
  margin-top: 50px;
}
#contact-us i {
  margin-right: 20px;
  color: #777;
}
.fa {
  font-weight: 900;
}
#contact-us .icons p {
  margin-bottom: 35px;
}
#contact-us .con-info p {
  font-size: 16px;
  line-height: 26px;
  color: #777;
}
#contact-us .red {
  color: #D62E33 !important;
}
#contact-us .con-info .social-list {
  margin-top: 60px;
  color: rgb(119, 119, 119);
}
.fa-twitter::before {
  content: "\f099";
}
.fa-instagram::before {
  content: "\f16d";
}
fa-envelope::before {
  content: "\f0e0";
}
#contact-us .con-info .social-list i {
  margin-right: 10px;
  border: 1px solid #999;
  width: 40px;
  height: 40px;
  line-height: 42px;
  cursor: pointer;
  text-align: center;
}



.form-control::placeholder {
  color: rgb(108, 117, 125);
  opacity: 1;
}
#chars {
  font-size: 20px;
  color: rgb(214, 46, 51);
}
#contact-us form button {
  background-color: #D62E33;
  color: #fff;
  padding: 10px 20px;
  border-radius: 0;
  text-transform: uppercase;
}
#contact-us form input, #contact-us form textarea {
  margin-bottom: 20px;
  border-radius: 0px;
}